.cc {
  background-color: black;
  width: 100%;
}
.Carou {
  background-image: url("../../images/img/backapp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 2.6rem;
}
