.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9;
  transition: all 0.2s;
  span:hover {
    transition: 0.5s;
    cursor: pointer;
  }
  .btn-success {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
  }
  .nav-img {
    width: 100px;
    img {
      width: 47%;
    }
  }
  // .navbar-nav {
  //   a {
  //     padding-top: 0.3125rem;
  //     padding-bottom: 0.3125rem;
  //     color: #ffffff;
  //     margin-left: 17px;
  //     margin-top: 3px;
  //     text-transform: uppercase;
  //     font-size: 1rem;
  //   }
  // }
  // .navbar {
  //   flex-grow: none !important;
  //   position: relative;
  //   .user {
  //     margin: 0px -25px;
  //     fill: currentColor;
  //     width: 40px;
  //     height: 30px;
  //     display: inline-block;
  //     font-size: 1.5rem;
  //     transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  //     flex-shrink: 0;
  //     -webkit-user-select: none;
  //     user-select: none;
  //   }
  // }
}
.logo {
  opacity: 0;
}
