.introduceApp {
  background-image: url("https://tix.vn/app/assets/img/icons/backapp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .carousel-inner {
    width: 235px !important;
  }
  .left {
    padding-left: 13%;
    padding-top: 11%;
    .btnApp {
      @include button(
        300px,
        35px,
        white,
        #fb4226,
        0,
        white,
        #fb4226,
        #fb4226,
        #fb4226
      );
      margin-bottom: 10px;
    }
    .left_h {
      font-size: 30px;
      line-height: 55px;
    }
    .left_p {
      padding: 1.5rem 0;
    }
    .text_p a {
      color: white;
      text-decoration: none;
      &:hover {
        color: #fb4226;
        transition: 0.5s;
      }
    }
  }

  .right_1 {
    position: relative;
    width: 247px;
    height: 523px;
    padding-top: 6rem;
    .right_img {
      width: 100%;
      height: 100%;
    }
  }
  .right_2 {
    position: absolute;
    left: 20px;
    top: 9px;
    padding-top: 6rem;
    img {
      width: 236px;
      height: 408px;
      border-radius: 17px;
      display: flex !important;
      background: transparent;
    }
    .slick-next {
      display: none !important;
    }
    .slick-prev {
      display: none !important;
    }
  }

  .carousel-inner {
    width: 165px;
  }
  .carousel-control-prev {
    width: 21.5%;
    height: 350px;
    .carousel-control-prev-icon {
      background-image: none !important;
    }
  }
  .carousel-control-next {
    height: 0px;
  }
}
