.user {
  margin-top: 3rem;

  .user-left {
    padding: 0;
    .userInfo {
      margin-top: 15px;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .username {
        font-weight: bold;
      }
    }
    .openList {
      ul {
        margin-bottom: 0px;
        .title {
          color: #fb4226;
          i {
            margin-left: 12px;
            font-size: 20px;
          }
          span {
            margin-left: 12px;
            font-size: 20px;
            font-weight: 500;
          }
        }
        .option {
          i {
            margin-left: 14px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.4);
          }
          span {
            margin-left: 14px;
            font-size: 16px;
          }
          cursor: pointer;
        }
        .bg__active {
          background: #f55960;
          color: white;
          i {
            color: white;
          }
        }
      }
    }
  }
  .user-right {
    .user-right-left {
      height: 50%;
      &.col-3 {
        padding: 0px;
      }
      border-radius: 4px;
      // border:1px solid black;
      box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.12);
      li {
        padding: 20px;
        list-style-type: none;
        i {
          opacity: 0.7;
          margin-right: 15px;
        }
      }
    }
    .user-right-right {
      border-radius: 4px;
      box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.12);
      padding: 2%;

      .title {
        margin-left: 5%;
        .hideOption {
          margin-left: 90%;
          opacity: 0.5;
          cursor: pointer;
          i {
            padding-top: 4%;
          }
        }
      }
      .right-item {
        margin-left: 5%;
        p {
          width: 70%;
          color: rgba(0, 0, 0, 0.7);
        }
        .col-1 {
          background-color: #f55960;
          border-radius: 50%;
          padding: 0px;
          height: 64px;
        }
        i {
          line-height: 64px;
          font-size: 42px;
          color: white;
          margin-left: 22%;
        }
        h6 {
          font-size: 1.5rem;
          span {
            font-size: 1.5rem;
            color: #f55960;
          }
        }
      }
      hr {
        margin-left: 5%;
        width: 90%;
      }
      form {
        margin-left: 5%;
        input,
        select,
        textarea {
          width: 95%;
          padding: 3px;
        }
      }
      .react-datepicker-wrapper {
        width: 100%;
      }
    }

    .ticket-booked {
      border-radius: 4px;
      box-shadow: 1px 3px 4px 2px rgba(0, 0, 0, 0.12);
      min-width: 100%;
      hr {
        width: 100%;
        margin: 0;
      }
    }
  }
}
